{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}
<main>
  <div class="container" id="edit-blogpost-zone">
      <div class="row center">
              <h1 class="col s12 light black-text"><u>Edit post</u></h1>
              <h4 class="header col s12 light black-text">{{post.created.strftime("%b %d, %Y")}} | Published by {{ post.creator }}</h4>
      </div> 
    <div class="row">
        <form class="col s12" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input id="subject-field" type="text" name="subject" value="{{ post.subject }}"/>
              <label for="subject">Subject</label>
            </div> 
            <div class ="input-field col s12">
              <textarea id="content-field" class="materialize-textarea" name="content-area">{{post.content}}</textarea>
              <label for="content-area">Blog content</label>
            </div>
            <div class="error">
              <p class="red-text">{{ error }}</p>
            </div>
          </div>
          <div class="divider"></div>
            <div class="row">
              <div class="col m12">
                <p class="center-align">
                  <input type="submit" class="btn btn-large waves-effect waves-light green" name="editPost" value="accept"/>
                  <input type="submit" class="btn btn-large waves-effect waves-light grey" name="editPost" value="cancel"/>
                </p>
              </div>
            </div>
        </form>
    </div>
  </div>
</main>
{% include "footer.html" %}
{% endblock %}
