<!DOCTYPE html>

<html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>The Big Boruku Signup</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/static/images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="/static/images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>

    <link rel="stylesheet" href="/static/css/footer-distributed.css">

    <link href="/static/css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">
    
  </head>

  <body>
    {% block content %}
    {% endblock %}
        
  <!--Document Scripts -->
  <script type="text/javascript" script-name="alex-brush" src="https://use.edgefonts.net/alex-brush.js"></script>
  <script type="text/javascript" script-name="carter-one" src="https://use.edgefonts.net/carter-one.js"></script>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
  <script src="/static/js/sweetalert.min.js"></script>
  <script type="text/javascript">
    $(".button-collapse").sideNav();
    $('.modal-trigger').leanModal();
    $('#aside').pushpin({ top:110, bottom:500 });
  </script>
  <script>
      $(document).ready(function(){

        $("body").css("display", "none");
        $("img").css("display", "none");

        $("body").fadeIn(1000);
        $("img").fadeIn(1000);

        $("a.transition").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $("body").fadeOut(1000, redirectPage);
        $("img").fadeOut(1000, redirectPage); 
        });

        function redirectPage() {
        window.location = linkLocation;
        }

        $('.materialboxed').materialbox();
         $('.parallax').parallax();
          $('.button-collapse').sideNav();
          $('.slider').slider();
      });

      $('.dropdown-button').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrain_width: false, // Does not change width of dropdown to that of the activator
          hover: true, // Activate on hover
          gutter: 0, // Spacing from edge
          belowOrigin: true, // Displays dropdown below the button
          alignment: 'left' // Displays dropdown with edge aligned to the left of button
        }
      );
      
      $('.head-link').click(function(e) {
        e.preventDefault();
        
        var goto = $(this).attr('href');
        $('html, body').animate({
            scrollTop: $(goto).offset().top
        }, 800);
      });
  </script>
  <script type="text/javascript">
  {% if user_message %}
  swal({   
    title: "{{ user_message.title }}",   
    text: "{{ user_message.text }}",   
    imageUrl: "/static/images/{{ user_message.image }}" 
  },
  function(){
    window.location.reload();
});
  {% endif %}
  {% if alert_message %}
  swal({   
    title: "{{ alert_message.title }}",   
    text: "{{ alert_message.text }}",   
    type: "{{ alert_message.type }}"
  });
  {% endif %}
</script>
  </body> 
</html>
