<footer class="page-footer blue darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text center"><i>Join the community, and start contributing</i></h5> 
        <hr>
        <p class="white-text center flex-text"><a href="#" class="white-text">Home</a> &#149; <a href="#" class="white-text">About</a> &#149; <a href="#" class="white-text">FAQ's</a> &#149; <a href="#" class="white-text">Contact us</a></p>
      </div>
      <div class="col l2 offset-l2 s6">
          <ul class="center">
            <li><a href="#" class="btn waves-effect waves-light blue"><i class="fa fa-facebook"></i></a></li>
            <li><br></li>
            <li><a href="#" class="btn waves-effect waves-light blue"><i class="fa fa-twitter"></i></a></li>
          </ul>
      </div>
      <div class="col l2 s6">
        <ul>
            <li><a href="#" class="btn waves-effect waves-light blue"><i class="fa fa-linkedin"></i></a></li>
            <li><br></li>
            <li><a href="#" class="btn waves-effect waves-light blue"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
        <i class="fa fa-comments-o" aria-hidden="true"></i> The Big Burogu &#149; Created by Benjamin Fraser
    </div>
  </div>
</footer>