<!DOCTYPE html>

<html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>The Big Boruku Create Post</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/static/images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="/static/images/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>

    <link rel="stylesheet" href="/static/css/footer-distributed.css">

    <link href="/static/css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/quill.snow.css">

    <link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">

    <style type="text/css">
        #toolbar {
          border: 1px solid #e5e5e5;
          width: 70%;
          margin: 20px auto;
          box-shadow: 2px 1px 5px rgba(0,0,0,0.2);
        }
        #editor {
          width: 70%;
          margin: 20px auto;
            box-shadow: 2px 1px 5px rgba(0,0,0,0.2);
            border: 1px solid #e5e5e5;
          height: 300px;
        }
    </style>
  </head>

  <body>

  {% include "navbar.html" %}

  <main>
  <div class="container" id="blogpost-zone">
      <div class="row center">
              <h3><i class="medium material-icons">mode_edit</i>  New post</h3>
              <h4 class="header col s12 light black-text">By {{ session['username'] }}</h4>
      </div> 

      <div class="row">

        <form id="create-post" method="post">
            <div class="input-field col s8 offset-s2">
                <input id="subject-field" type="text" name="subject" value="{{subject}}"/>
                  <label for="subject">Subject</label>
            </div> 
            <div class="input-field">
                <input type="hidden" id="content-field" name="content"/>
            </div>
            <br><br><br>
        <!-- Create toolbar container -->
        <div id="toolbar" class="sc-toolbar-container toolbar">
          <!-- Add font size dropdown -->

          <select class="ql-size">
            <option value="10px">Small</option>
            <option value="13px" selected>Normal</option>
            <option value="18px">Large</option>
            <option value="32px">Huge</option>
          </select>
          <!-- Add a bold button -->
          <div class="ql-format-group">
              <span class="ql-bold ql-format-button"></span>
              <span class="ql-italic ql-format-button"></span>
              <span class="ql-strike ql-format-button"></span>
              <span class="ql-underline ql-format-button"></span>
              <span class="ql-link ql-format-button"></span>
              <span class="ql-format-separator"></span>
              <span title="Image" class="ql-format-button ql-image"></span>
          </div>
        </div>
        <div id="editor">{{ content }}</div>

        <div class="error">
            {% if alert_message %}
            <p class="red-text">{{ alert_message.text }}</p>
            {% endif %}
        </div>
        <div class="divider"></div>
                <div class="row">
                  <div class="col m12">
                    <p class="center-align">
                      <input type="button" class="btn btn-large waves-effect waves-light green" id="createPost" name="editPost" value="create"/>
                      <a href="/blog" class="btn btn-large waves-effect waves-light grey" name="cancel" value="cancel">Cancel</a>
                    </p>
                  </div>
                </div>
        </form>
    </div>
  </div>
</main>

    {% include "footer.html" %}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/js/quill.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>
    <script type="text/javascript">
      $(".button-collapse").sideNav();
      $('.modal-trigger').leanModal();
      $('#aside').pushpin({ top:110, bottom:500 });
  
      $(document).ready(function(){
        $('.materialboxed').materialbox();
         $('.parallax').parallax();
          $('.button-collapse').sideNav();
      });

      $('.dropdown-button').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrain_width: false, // Does not change width of dropdown to that of the activator
          hover: true, // Activate on hover
          gutter: 0, // Spacing from edge
          belowOrigin: true, // Displays dropdown below the button
          alignment: 'left' // Displays dropdown with edge aligned to the left of button
        }
      );
      
      $('.head-link').click(function(e) {
        e.preventDefault();
        
        var goto = $(this).attr('href');
        $('html, body').animate({
            scrollTop: $(goto).offset().top
        }, 800);
      });
    
      //Initialize editor and toolbar for rich text and post creation.
      var editor = new Quill('#editor', {
      modules: {
      'toolbar': { container: '#toolbar' },
      'image-tooltip': true,
      'link-tooltip': true
      },
      theme: 'snow',
      });

      // Custom handling function for extracting html text from rich text,
      // followed by updating the hidden inputs value, and finally submitting the form.
      $(function(){
        $('#createPost').click(function () {
          var mysave = editor.getHTML();
          $('#content-field').val(mysave);
          $("#create-post").submit();
          });
      });

      // Custom functions for error handling and message presentation.
      {% if user_message %}
      swal({   
        title: "{{ user_message.title }}",   
        text: "{{ user_message.text }}",   
        imageUrl: "/static/images/{{ user_message.image }}" 
      });
      {% endif %}
      {% if alert_message %}
      swal({   
        title: "{{ alert_message.title }}",   
        text: "{{ alert_message.text }}",   
        type: "{{ alert_message.type }}"
      });
      {% endif %}

    </script>

  </body>
</html>