{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}

<main>
<div id="post-header" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container valign">
        <br><br>
        <h1 class="header center white-text text-darken-2"><i>{{ post.subject }}<i></h1>
        <div class="row center">
          <h5 class="header col s12 light white-text text-darken-2"><u>{{post.created.strftime("%b %d, %Y")}} | Published by {{ post.creator }}</u></h5>
        </div>
        <div class="row center">
          <a href="#startPosts" class="btn-floating btn-large waves-effect waves-light blue darken-2 head-link"><i class="fa fa-angle-double-down"></i></a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/static/images/blue_sky.jpg" alt="Unsplashed background img 2"></div>
</div>


<div class="container" id="postArea">
  <br>
  <div class="row align-left">
        <div class="col s12 m10 offset-m1 l9 offset-l1">
            {% if liked_post == 'liked' %}
              <a href="/blog/{{ post.key.urlsafe() }}?like_status=unlike&target_user={{ post.creator }}" class="waves-effect tooltipped waves-light btn-floating blue" data-position="bottom" data-delay="50" data-tooltip="You like this post. Click to unlike."><i class="material-icons left" >thumb_up</i></a>
            {% else %}
              <a href="/blog/{{ post.key.urlsafe() }}?like_status=like&target_user={{ post.creator }}" class="waves-effect tooltipped waves-light btn-floating green" data-position="bottom" data-delay="50" data-tooltip="Like this post"><i class="material-icons left" >thumb_up</i></a>
            {% endif %}
            {% if liked_post == 'disliked' %}
              <a href="/blog/{{ post.key.urlsafe() }}?like_status=undislike&target_user={{ post.creator }}" class="waves-effect tooltipped waves-light btn-floating blue" data-position="bottom" data-delay="50" data-tooltip="You dislike this post. Click to undislike."><i class="material-icons left">thumb_down</i></a>
            {% else %}
              <a href="/blog/{{ post.key.urlsafe() }}?like_status=dislike&target_user={{ post.creator }}" class="waves-effect tooltipped waves-light btn-floating red" data-position="bottom" data-delay="50" data-tooltip="Dislike this post"><i class="material-icons left">thumb_down</i></a>
            {% endif %}
            <a class="waves-effect tooltipped waves-light btn-floating orange" data-position="bottom" data-delay="50" data-tooltip="Follow {{ post.creator }}"><i class="material-icons left">library_add</i></a>
        </div>
  </div>
  <br>
  <div class="row">
    <div class="col s12 m10 offset-m1 l9 offset-l1">
      <p>{{post.content | safe }}</p> 
      <br>
      <a href="#modalComment" class="modal-trigger btn-floating tooltipped btn waves-effect waves-light blue" data-position="bottom" data-delay="50" data-tooltip="Comment on this post"><i class="material-icons">chat_bubble_outline</i></a>

      {% if creator %}
      <div class="right">
      <a class="btn-floating tooltipped btn waves-effect waves-light orange" href="/blog/{{ post.key.urlsafe() }}/edit" data-position="bottom" data-delay="50" data-tooltip="Edit post"><i class="material-icons">mode_edit</i></a>

      <a class="btn-floating tooltipped btn waves-effect waves-light red" href="/blog/{{ post.key.urlsafe() }}/delete" data-position="bottom" data-delay="50" data-tooltip="Delete post"><i class="material-icons">delete</i></a>
      </div>
      {% endif %}

    </div>
  </div>
</div>

{% if post.comments %}
<div id="comments area" class ="container">
  <ul class="collection">
    {% for comment in post.comments %}
    <li class="collection-item avatar">
      <img src="/static/images/co2.jpg" alt="" class="circle">
      <span class="title">{{ comment[0] }}</span>
      <p>{{ comment[1] }}</p>
      <a class="secondary-content" href='#'><i class="material-icons blue-text">thumb_up</i></a>
      {% if session['username'] == comment[0] %}
      <a class="modal-trigger right tooltipped" href="#modalCommentEdit" data-position="bottom" data-delay="50" data-tooltip="Edit comment"><i class="material-icons orange-text">mode_edit</i></a>
      <a class="right tooltipped" href="/blog/{{ post.key.urlsafe() }}?delete_comment=yes&comment_user={{ comment[0] }}&comment_num={{loop.index0}}" data-position="bottom" data-delay="50" data-tooltip="Delete comment"><i class="material-icons red-text">delete</i></a>
      {% endif %}
    </li>
    <!--comment modal for editing comment post-->
    <div id="modalCommentEdit" class="modal">
      <div class="modal-content">
        <h2 class="center-align text-styled-header">{{ session['username'] }}</h2>
          <div class="divider"></div>
          <form class="col s12" action="/blog/{{ post.key.urlsafe() }}" method="POST">
            <div class="row">
              <div class="input-field">
                <input type="hidden" id="user" name="comment-user" value="{{ session['username'] }}"/>
              </div>
              <div class="input-field">
                <input type="hidden" id="comment-number" name="comment-num" value="{{loop.index0}}"/>
              </div>    
              <div class="input-field col m10 offset-m1 blue-text ">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="comment-edit" class="materialize-textarea" name="edit-comment">{{ comment[1] }}</textarea>
                <label for="comment">Comment</label>
              </div>
            </div>
            <div class="divider"></div>
              <p class="center-align">
                <a href="#" class="btn btn-flat white modal-close">Cancel</a> &nbsp;
                <button class="btn btn-large waves-effect waves-light" type="submit" name="submit">Post</button>
              </p>
          </form>
      </div>
    </div>
    {% endfor %}
  </ul>
</div>
{% endif %}

</main>

<!--comment modal for commenting on post-->
<div id="modalComment" class="modal">
  <div class="modal-content">
    <h2 class="center-align text-styled-header">{{ session['username'] }}</h2>
      <div class="divider"></div>
      <form class="col s12" action="/blog/{{ post.key.urlsafe() }}" method="POST">
        <div class="row">
          <div class="input-field">
            <input type="hidden" id="user" name="comment-user" value="{{ session['username'] }}"/>
          </div>  
          <div class="input-field col m10 offset-m1 blue-text ">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="comment-field" class="materialize-textarea" name="comment"></textarea>
            <label for="comment">Comment</label>
          </div>
        </div>
        <div class="divider"></div>
          <p class="center-align">
            <a href="#" class="btn btn-flat white modal-close">Cancel</a> &nbsp;
            <button class="btn btn-large waves-effect waves-light" type="submit" name="submit">Post</button>
          </p>
      </form>
  </div>
</div>

{% include "footer.html" %}
{% endblock %}
