<div class="post-preview">
                    <a href="/blog/{{ p.key.urlsafe() }}">
                        <h4 class="post-title titleFont">
                           {{p.subject}}
                        </h4>
                        <h6 class="post-subtitle subTitleFont">
                           {{p._render_text[:100] | safe}}...
                        </h6>
                    </a>
                   <p class="post-meta"><i class="fa fa-clock-o"></i> {{p.created.strftime("%b %d, %Y")}} <a href="#">{{ p.creator }}</a></p>
                </div>
                <hr>