          {% extends "base.html" %}
          {% block content %}
          {% include "navbar.html" %}
          <div id="index-banner" class="parallax-container valign-wrapper">
              <div class="section no-pad-bot">
                <div class="container valign">
                  <br><br>
                  <h1 class="header center white-text text-darken-2">Join our community today</h1>
                  <div class="row center">
                    <h5 class="header col s12 light white-text text-darken-2"><u>Create your own account now, with just a few simple clicks</u></h5>
                  </div>
                  <div class="row center">
                    <a href="#startPosts" class="btn-floating btn-large waves-effect waves-light blue darken-2 head-link"><i class="fa fa-angle-double-down"></i></a>
                  </div>
                  <br><br>

                </div>
              </div>
              <div class="parallax"><img src="/static/images/road.jpg" alt="Unsplashed background img 2"></div>
          </div>

          <main class="mdl-layout__content">
            <div class="container">
              <div class="row">
                  <div class="col m12">
                      <h2 class="center-align">Create an account</h2>
                        <h4 class="center-align">Enter your details below</h4>
                          <div class="row">
                            <form method="post" class="col s12">
                                <div class="row">
                                    <div class="input-field col s8 offset-s2">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="signup-username" type="text" class="validate" name="username" value="{{username}}">
                                        <label for="signup-username">Username</label>
                                    </div>
                                    <div class="col s2 error-field" style="font-size: 0.8em; color: red;">
                                      {{error_username}}
                                      {{error_name_taken}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s8 offset-s2">
                                        <i class="material-icons prefix">lock_open</i>
                                        <input id="signup-password" type="password" class="validate" name="password">
                                        <label for="signup-password">Password</label>
                                    </div>
                                    <div class="col s2 error-field" style="font-size: 0.8em; color: red;">
                                      {{error_password}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s8 offset-s2">
                                        <i class="material-icons prefix">lock_open</i>
                                        <input id="signup-pass-ver" type="password" class="validate" name="verify">
                                        <label for="signup-pass-ver">Verify Password</label>
                                    </div>
                                    <div class="col s2 error-field" style="font-size: 0.8em; color: red;">
                                      {{error_verify}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s8 offset-s2">
                                        <i class="material-icons prefix">email</i>
                                        <input id="signup-email" type="email" class="validate" name="email" value="{{email}}">
                                        <label for="signup-email" data-error="Invalid - email must be of the correct format">Email</label>
                                    </div>
                                    <div class="col s2 error-field" style="font-size: 0.8em; color: red;">
                                      {{error_name}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s8 offset-s2">
                                        <p>
                                            <input type="checkbox" id="remember">
                                            <label for="remember">Remember me</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <div class="row">
                                    <div class="col m12">
                                        <p class="center-align">
                                            <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Login</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                      </div>
                  </div>
              </div>
          </div>
        </main>
        {% include "footer.html" %}
        {% endblock %}